body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navigation */
#mainNav{
	box-shadow: 0px 3px 1px 0px green;
}

.active{
	color: #ffbf00;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    font-weight: bold;
}

.affix ~ .container-fluid {
    position: relative;
    top: 10px;
}

/* Button view*/

.button-view{
	margin-top: 10px;
}

.modal-content{

}

/* Nav */

.navbar-form input, .form-inline input {
	width:auto;
}

.navbar-default{
	opacity: 0.96;
}

.modal-body{
  padding: 30px;
}

.registerForm{
    margin-top:50px;
}

footer{
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  background-color: green;
  opacity: 0.8
}

/*.modal-dialog{
  top:30%;
  left: 20%;
  right: 20%;
  position: absolute;
}*/


/*.modal-dialog {
  top: 20%;
  width: 100%;
  position: absolute;
}
.modal-content {
  background-color: grey;
  color:white;
  opacity: 0.80;
}*/

/*.modal-dialog-confirm{
  top:30%;
  width: 100%;
  position: absolute;
}

.modal-content-confirm{
  background-color: green;
  color:white;
  opacity: 0.80;
}*/